@import "../../styles/colors.scss";

.spinetic-dots-main {
  display: block;
  position: relative;
  margin: 0 auto;
}

.spinetic-dots-wrapper {
  display: flex;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  transition: all 0.7s ease;

  .spinetic-dots {
    flex-wrap: unset;
  }
}

.spinetic-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  //gap: 20px;

  flex-wrap: wrap;
  // line-height: 0.7;

  transition: all 0.7s ease;

  height: 35px;
  align-items: center;

  .spinetic-dot {
    cursor: pointer;
    width: 14px;
    height: 14px;
    background-color: $spinetic-blue;
    transition: 0.5s linear;
    display: flex;
    justify-content: center;
    border-radius: 50px;

    margin-right: 14px;

    &:hover {
      opacity: 0.8;
      transform: scale(1.2);
    }

    &-active {
      transform: scale(1);
      width: 60px;
      height: 12px;
      opacity: 0.8;
    }

    &-item-number {
      margin-top: 20px;
    }
  }
}

@media (hover: none), (pointer: coarse) {
  .spinetic-dots .spinetic-dot:hover,
  .spinetic-dots .spinetic-dot:focus {
    opacity: 0.5;
    transform: none;
  }
}
