.spinetic-main {
  display: block;
  position: relative;
}

.spinetic-wrapper {
  display: flex;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  margin: 16px 0px;
}

.spinetic-container {
  content: "⚠️ Warning: The use of 'padding' in this class can cause presentation errors in the component when combined with the 'fullHeightItems' property.";
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  -webkit-position: relative;
  position: relative;
  overflow: hidden;
}

.hasDraggable {
  cursor: grab;
}

.spinetic-no-transition {
  -webkit-transition: none;
  transition: none;
}